<% @users.each do |user| %>
  <div>
    <h1><%= user.photo %></h1>
  </div>

  <div>
    <div>
      <h4><%= link_to user.name, user_path(user) %></h4>
    </div>

    <div>
      <p>Number of post: <%= user.posts_counter %></p>
    </div>
  </div>
<% end %>
