<div class = 'user-posts'>
  <div>
    <h3><%= link_to  "Post ##{post.id} - #{post.title}" , user_post_path(post.id), class: 'link-comments'%></h3> 
  </div>
  <div>
    <p><%= post.text %></p>
    <p> <%= render partial: "posts/total_comments", locals: { total_comments: post.comments.size }%>, 
      <%= render partial: "posts/total_likes", locals: { total_likes: post.likes.size } %>
    </p>
  </div>
</div>