// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-section {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}

.user-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 60px;
  border: 2px solid #000;
}

.user-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  width: 70%;
  margin-left: 15px;
  padding-left: 20px;
  border: 2px solid #000;
}

.user-name {
  text-decoration: none;
  color: #000;
  font-size: 30px;
}

.post-num {
  font-size: 15px;
  margin-bottom: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.user-bio {
  display: flex;
  flex-direction: column;
  width: 87%;
  padding: 10px;
  margin-left: 80px;
  border: 2px solid black;
}

